@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@400;600&display=swap');
*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}

header {
  background: hsla(0, 0%, 86%, 0.5);
  border-bottom: 2px solid #0077aa50;
  box-shadow: 0px 5px 15px -9px rgba(0, 119, 170, 0.5);
  padding: 20px 0;
}

header h1 {
  color: #0077aa;
  font-family: 'Roboto Slab', serif;
  margin-top: 0;
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 500px;
  padding: 0 20px;
}

.input-control {
  border: 2px solid #0077aa50;
  border-radius: 50px;
  position: relative;
}

input, button {
  border-radius: 50px;
  border: none;
  outline: none;
}

input {
  padding: 10px 20px;
  padding-right: 80px;
  width: 100%;
}

button {
  background: #0077aa50;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #0077aa;
  cursor: pointer;
  height: 100%;
  padding: 0 20px;
  position: absolute;
  right: 0;
}

button:hover {
  background: #0077aa60;
}

main {
  width: 100%;
}

#no-items-message, #get-busy-message {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#no-items-message span, #get-busy-message span {
  color: goldenrod;
  font-size: 1.5em;
  margin-left: 7px;
  line-height: 0.85;
}

.todo-list {
  list-style-type: none;
  margin-top: 30px;
  padding: 0;
}

.todo-list-item {
  align-items: center;
  border-bottom: 2px solid #0077aa50;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-top: 10px;
  transition: all 0.2s;
}

.todo-list-item:first-of-type {
  margin-top: 0;
}

.todo-list-item-icon {
  color: #0077aa;
  line-height: 0;
  font-size: 1.5em;
  opacity: 0.4;
}

.todo-list-item-icon:last-child {
  margin-left: 20px;
}

.todo-list-item-icon:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.tab-group {
  display: flex;
  font-size: 1.25em;
  justify-content: space-evenly;
  list-style-type: none;
  margin-top: 30px;
  margin-bottom: 0;
  padding: 0;
}

.tab-control {
  color: #0077aa50;
  cursor: pointer;
}

.tab-control:hover {
  color: #0077aa;
}

.tab-control.active {
  color: #0077aa;
  border-bottom: 2px solid #0077aa80;
  padding-bottom: 10px;
}

.tab-control a {
  color: inherit;
  text-decoration: none;
}

#tab-content div {
  display: none;
  opacity: 0;
}

#tab-content div.active {
  display: block;
  opacity: 1;
}

footer {
  opacity: 0.3;
}

footer img {
  width: 100%;
}

.flex-grow-helper {
  flex-grow: 1;
}